<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Pan Card Tampering</title>

  <!-- CSS  -->
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav style="background-color: #5e72e4" class="lighten-1"  role="navigation" style="height: 100px">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo center"><h5>Pan Card Tampering</h5></a>
      <div style="margin-left: 800px">
      	   Made by <a class="orange-text text-lighten-3">Ramkrishna</a>
      </div>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
        <form action='/' method="post" class="col s12" enctype="multipart/form-data">
          <div class="row">
          	<div class="input-field col s3">
            </div>

            <div class="input-field col s5" style="margin-left: 20px; margin-top: 100px">
              <div class = "row">
                  <label for="first_name"><b>Upload Pan Card Image</b></label><br>
                  <div class = "file-field input-field">
                    <div class = "btn" style="background-color: #5e72e4">
                      <span>Browse</span>
                      <input type = "file" name="file_upload" id="file_upload" />
                    </div>
                    <div class = "file-path-wrapper">
                      <input class = "file-path validate" type = "text" placeholder = "Upload file" name="file_name" id="file_name" />
                    </div>
                  </div>
              </div>
            </div>
          </div>
    
          <div class="row center">
            <button type="submit" class="btn-large" style="background-color: #5e72e4">Check</button>
          </div>
        </form>
       	<div style="text-align: center; padding-top: 50px">
      		<h5>{{pred}}</h5>
     	</div>

      </div>
      <br><br>
    </div>
  </div>

  </div>
  </div>

  <!--  Scripts-->
  <script src="./static/js/materialize.js"></script>
  <script type="text/javascript">
    document.getElementById('file_upload').onchange = function () {
      	document.getElementById('file_name').value = this.value.slice(12,100);
    };
  </script>

  </body>
</html>

